*.o
*.a
.DS_Store
.build/
.cache/
.direnv/
.envrc
.swiftpm
.venv
.vs/
.vscode/

build/
build-em/
build-debug/
build-release/
build-static/
build-cublas/
build-opencl/
build-no-accel/
build-sanitize-addr/
build-sanitize-thread/

models/*
*.bin

/main
/quantize
/quantize-stats
/result
/perplexity
/embedding
/benchmark-matmult
/vdot
/Pipfile

build-info.h
arm_neon.h
compile_commands.json

__pycache__

dist/
*.spec

zig-out/
zig-cache/

ppl-*.txt
qnt-*.txt
perf-*.txt

examples/jeopardy/results.txt
koboldcpp.so
koboldcpp_noavx2.so
koboldcpp_openblas.so
koboldcpp_openblas_noavx2.so
koboldcpp_clblast.so
koboldcpp.dll
koboldcpp_noavx2.dll
koboldcpp_openblas.dll
koboldcpp_openblas_noavx2.dll
koboldcpp_clblast.dll