# These requirements include all dependencies for all top-level python scripts
# for llama.cpp. Avoid adding packages here directly.
#
# Package versions must stay compatible across all top-level python scripts.
#
-r convert_requirements.txt
-r convert-hf-to-gguf_requirements.txt
-r convert-lora-to-ggml_requirements.txt
