# These requirements include all dependencies for all top-level python scripts
# for llama.cpp. Avoid adding packages here directly.
#
# Package versions must stay compatible across all top-level python scripts.
#

-r requirements-convert.txt

-r requirements-convert-hf-to-gguf.txt
-r requirements-convert-lora-to-ggml.txt
-r requirements-convert-persimmon-to-gguf.txt
