{%- for idx in range(0, messages|length) -%}
{%- if messages[idx]['role'] == 'user' -%}
{%- if idx > 1 -%}
{{- bos_token + '[INST] ' + messages[idx]['content'] + ' [/INST]' -}}
{%- else -%}
{{- messages[idx]['content'] + ' [/INST]' -}}
{%- endif -%}
{% elif messages[idx]['role'] == 'system' %}
{{- '[INST] <<SYS>>\n' + messages[idx]['content'] + '\n<</SYS>>\n\n' -}}
{%- elif messages[idx]['role'] == 'assistant' -%}
{{- ' '  + messages[idx]['content'] + ' ' + eos_token -}}
{% endif %}
{% endfor %}