/**
 * the styling of the simplechat web frontend
 * by Humans for All
 */

 .heading {
    background-color: lightgray;
}
.role-system {
    background-color: lightblue;
}
.role-user {
    background-color: lightgray;
}
.wideinput {
    width: 90vw;
}
.float-right {
    float: right;
}
#chat {
    height: 75vh;
    overflow: scroll;
}
* {
    margin: 0.4vh;
}
