/**
 * the styling of the simplechat web frontend
 * by Humans for All
 */

 .heading {
    background-color: lightgray;
}
.role-system {
    background-color: lightblue;
}
.role-user {
    background-color: lightgray;
}
.flex-grow {
    flex-grow: 1;
}
.float-right {
    float: right;
}
#chat {
    height: 75vh;
    overflow: scroll;
}
button {
    min-width: 8vw;
}
.sameline {
    display: flex;
    flex-direction: row;
}
* {
    margin: 0.6vmin;
}
